<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" types="text/css" href="{{ url_for("static", filename="css/style.css") }}">    
    <title>Private Wall</title>
</head>
<body>
    <div class="top">
        <h2>Coding Dojo Wall</h2>
        <h3>Welcome {{ session['f_name'] }}!</h3>
        <a href="/logout">Logout</a>
    </div>
    <div class="left">
        <h5>{{ count_get }} Message(s) for you</h5>
        {% if messages: %}
        {% for msg in messages: %}
        {% if msg.recepient_id == session['user_info']: %}
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td style="font-weight: bold;">{{ msg.f_name }} said ( {{ msg.created_at }} hours ago)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ msg.content }}</td>
                    <td><form class="pic" action="/delete_msg/{{ msg.m_id }}">
                        <!-- <input type="hidden" name="message_id" value="{{ msg.m_id }}"> -->
                        <input class="img" type="image" src="/static/img/1.png" width="30" height="30">
                    </form></td>
                </tr>
            </tbody>
        </table> 
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="right">
        <h5>Send Messages</h5>
        <h5>You have sent {{ count_sent }} message(s) so far</h5>
        {% for u in users:%}
            {% if u.id != session['user_info']: %}
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>{{ u.f_name }}</td>
                            <td><form action="/create_msg" method="post">
                                <div class="form-group">
                                    <input type="hidden" name="recepient_id" value="{{ u.id }}">
                                    <textarea name="content" cols="30" rows="3" ></textarea>
                                    <input type="submit" value="Send" class="btn btn-outline-secondary">
                                </div>
                            </form></td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>

