<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Success</title>
</head>
<body>
    <p><a href="/">Go back</a></p>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                            
            {% for message in messages %}            
                <p style="color: green;">{{message}}</p>                  
            {% endfor %}
        {% endif %}
    {% endwith %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Email</th>
                <th>Created on</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if all_emails:%}
            {% for em in all_emails: %}
            <tr>
                <td>{{ em['email'] }}</td>
                <td>{{ em['created_at'] }}</td>
                <td><a href="/{{ em['id'] }}/destroy">Delete</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</body>
</html>
