
#block1, #block2, #block3{
    display: inline-block;
    width: 90%;
    margin: 10px;      
}
#block1, #block2 {
    text-align: center;
}
#block3 p, div {
    margin-left: 7%;
}
.activ {
    overflow: scroll;
    height: 200px;
    width: 70%;
    border: 1px solid lightgray;
}

.block {
    display: inline-block;
    width: 20%;
    border: 1px solid lightgray;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
textarea{
    width: 100%;
}
/* form {
    align-items: center;
} */