<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            color:darkmagenta;
            text-align: center;
        }
        div {
            display: inline-block;
            width: 200px;
            height: 200px;
            border: 2px solid black;
            margin-left: 20px;
            background-color: {{ color }};
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    {% for div in range(0, x): %}
        <div></div>
    {% endfor %}
</body>
</html>


